@mixin w($width) {
	@media only screen and (max-width: $width+ "px") {
		@content
	}
}

@mixin rmin($width) {
	@media only screen and (min-width: $width+ "px") {
		@content
	}
}


@function rem($size) {
	@return $size / $root-font-size * 1rem;
}

$rem-baseline: 16px !default;
$rem-fallback: false !default;
$rem-px-only: false !default;
