.header-scroll {
    width: 100%;
    padding-top: rem(40);
    transition: 0.2s;
    @include w(1440) {
        padding-top: rem(20);
    }
    @include w(1024){
        padding-top: rem(10);
    }
}
.header {
    display: flex;
    justify-content: space-between;
    
    @include w(1440) {
        align-items: center;
    }
    &__logo img{
        width: rem(200);
        @include w(768){
            width: rem(160);
        }
    }

    &__menu {
        @include w(1440) {
            display: none;
            visibility: hidden;
        }
    }

    &__link {
        font-family: $dm;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #696871;
        margin-right: rem(50);
        padding-bottom: rem(10);

        &--active {
            color: #19191B;
            border-bottom: 2px solid #5454D4;
        }

        &:first-child {
            margin-left: rem(0);
        }

        &:last-child {
            margin-right: rem(0);
        }
    }

    &__btn {
        display: block;
        visibility: visible;
        cursor: pointer;
        padding-bottom: rem(19);
        padding-top: rem(19);
        padding-left: rem(60);
        padding-right: rem(60);
        color: #fff;
        font-family: $dm;
        font-size: 17px;
        line-height: 22px;

        @include w(1440) {
            display: none;
            visibility: hidden;
        }
    }
}

.mob-menu {
    display:none;
    visibility:hidden;
    cursor: pointer;
    @include w(1440) {
        display: block;
        visibility:visible;
    }
}

.menu__link{
    color: #696871;
    font-size: rem(16);
    line-height: rem(30);
    font-family: $ml;
}


.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.2s;
    padding-top: rem(10);
    padding-bottom: rem(10);
    background: #fff;
    -webkit-box-shadow: -2px 11px 8px -5px rgba(32, 33, 36, 0.2);
    -moz-box-shadow: -2px 11px 8px -5px rgba(32, 33, 36, 0.2);
    box-shadow: -2px 11px 8px -5px rgba(32, 33, 36, 0.2);
    @include w (1440){
        padding-top: rem(20);
    }
    @include w(1024){
        padding-top: rem(10);
    }
}