.depth {

    @include w(1024) {
        margin-top: rem(30);
    }
    margin-top: rem(83);

    &__col {

        @include w (1440) {
            width: calc(50% - 30px);
        }

        @include w(1024) {
            width: 50%;
        }

        @include w(768) {
            width: 100%;
            padding-bottom: rem(30);
        }
        width: calc(50% - 60px);
    }

    &__row {
        @include w (768) {
            flex-direction: column-reverse;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        padding-bottom: rem(30);
    }

    &__title {
        padding-bottom: rem(30);
    }
}