.container {

    @include rmin (1440) {
        width: rem(1070);
    }

    @include rmin (1024) {
        width: rem(1004);
    }

    @include rmin (768) {
        width: rem(748);
    }

    @include rmin (640) {
        width: rem(620);
    }

    @include rmin (576) {
        width: rem(556);
    }

    @include rmin (425) {
        width: rem(405);
    }

    @include rmin (375) {
        width: rem(355);
    }

    @include rmin(320) {
        width: rem(300);
    }
    position: relative;
    width: rem(1090);
    max-width: 100%;
    transition: .1s;
    padding-left: rem(10);
    padding-right: rem(10);
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}