.main {
    &__col {
        width: calc(50% - 40px);
        @include w(1440){
            width:50%;
        }
        @include w(1024){
            width: 100%;
        }
    }

    &__row {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(100);
        @include w(1024){
            flex-direction: column;
            margin-top: rem(60);
        }
        @include w(768){
            margin-top: rem(30);
        }
    }
}

.main-text {
    &__arrow {
        @include w(1024){
            display: none;
            visibility: hidden;
        }
    }

    &__bottom {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% / 6 * 4 );
        @include w(1024){
            width: 100%;
            justify-content: left;
        }
    }

    &__btn {
        padding-top: rem(19);
        padding-bottom: rem(19);
        padding-left: rem(65);
        padding-right: rem(65);
        color: #fff;
        font-family :$dm;
        font-weight: 700;
        font-size: 17px;
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        color: #696871;
        padding-bottom: rem(80);
        @include w(1024){
            padding-bottom: rem(30);
        }
    }

    &__title {
        padding-bottom: rem(30);
    }
}