.back-to-top {
    @include w (1024) {
        bottom: 0;
        left: 0;
        width: 100%;
    }
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 9999;
    right: 40px;
    bottom: 80px;
    width: rem(40);
    height: rem(40);
    text-align: center;
    line-height: rem(40);
    background: #ff7143;
    color: #fff;
    cursor: pointer;
}

.back-to-top:hover {
    background: #5454d4;
    color: #fff;
}

.back-to-top--open {
    display: block;
}
.footer {
    background-color: #696871;
    color: #fff;
    text-align: center;
    @include w (1024){
        padding-bottom: rem(40);
    }
    
}