h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

