h1, h2, h3, h4, h5, h6, ul ,p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
}
img{
    width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

h2{
    font-family: $dm;
    font-weight: bold;
    font-size: rem(80);
    line-height: rem(77);
    color: #19191B;
    @include w(1024){
        font-size: rem(40);
        line-height: rem(38);
    }
}


.btn {
    cursor: pointer;
    &--orange {
        background: #FF7143;
        border-radius: 10px;
    }
    &--blue{
        background: #5454D4;
        border-radius: 10px;
    }
    &--orange:hover {
        background: #5454D4;
        transition: 0.5s;
    }
    &--blue:hover{
        background: #F7F6FB;
        transition: 0.5s;
        color:#19191B;
        -webkit-box-shadow: 0px 0px 11px 6px rgba(25, 25, 27, 0.2);
        -moz-box-shadow: 0px 0px 11px 6px rgba(25, 25, 27, 0.2);
        box-shadow: 0px 0px 11px 6px rgba(25, 25, 27, 0.2);
    }
}


